html {
    background-color: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
}

#titulo {
    text-align: center;
    padding-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
}

#bordas {
    border-left: 15px  solid white;
    border-right: 15px  solid white;
    border-radius: 5px;

}

#subtitulo {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
} 

#bordalegenda {
    width: auto;
    display: flex;
    
}

#bordalegenda img {
    height: 800px;
display: flex;
border-radius: 10px;
background-color: black;
padding-right: 60px;
box-shadow: 10px;
margin-left: 10px;

}

#biografia {
    color: white;
    padding-top: 30px;
    width: 50%;
    text-align: center;
}

#texto {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: normal;
    line-height: 20px;
}

#segundotexto {

}

#segundotexto {
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;

}


#rodape {
    background-color: white;
    text-align: center;
    padding-top: 2px;
    text-decoration: none;
    color: white;
    
}

#rodape a {
    background-color: white;
    text-align: center;
    padding-top: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

#rodape img {
height: 15px;
margin-left: 10px;
}


sala bla/1